{% extends 'admin/base.html.twig' %}
    {% block page %}



 <div class="col-sm-6 col-md-8 col-lg-8">
     <div class="jumbotron">

        {% block bodyTitle %}  <h3 class="">Add Product to {{ group.name |title }} </h3>   {% endblock %}
        {{ include('admin/_form.html.twig') }}

     </div>
 </div>
<div class="col-sm-6 col-md-3 col-lg-4">
        {% block sideBarRight %}

        {% endblock %}
</div>
    {% endblock %} 

 
  

    
